@charset "utf-8";

@font-face {
	font-family:louB;
	src:url(../files/f/Louis-George-Cafe-Bold.ttf);
}

@font-face {
	font-family:louR;
	src:url(../files/f/Louis-George-Cafe.ttf);
}

@font-face {
	font-family:louL;
	src:url(../files/f/Louis-George-Cafe-Light.ttf);
}

@font-face {
	font-family:CardB;
	src:url(../files/f/Cardo-Bold.ttf);
}

@font-face {
	font-family:CardR;
	src:url(../files/f/Cardo-Regular.ttf);
}

@font-face {
	font-family:ColR;
	src:url(../files/f/COLONNA.ttf);
}

::-webkit-scrollbar {
  width:10px;
}

::-webkit-scrollbar-track {
	background:linear-gradient(45deg, rgba(129, 0, 0, 1) 0%,rgba(22, 29, 227, 1) 100%);

}

::-webkit-scrollbar-thumb {
	background:#FFFFFF;
	transition-duration:0.5s;
}

::-webkit-scrollbar-thumb:hover {
	transition-duration:0.5s;
	background:linear-gradient(45deg, rgba(129, 0, 0, 1) 0%,rgba(22, 29, 227, 1) 100%);
}

html, body {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    scroll-behavior:smooth;
}

p {
	font-family:louL;
}

*, *:before, *:after {
	box-sizing:inherit;
}

.pd-cntnr:after, .pd-cntnr:before, .pd-row:after, .pd-row:before {
	content:"";
	display:table;
	clear:both;
}

.pd-mn .pd-bod-cntnt #pd-body {
	margin-top:5em;
}

.pd-mn .pd-bg-grad {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity:0.4;

	background: -moz-linear-gradient(45deg, rgba(129, 0, 0, 1) 0%,rgba(22, 29, 227, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(22, 29, 227, 1)), color-stop(100%,rgba(129, 0, 0, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg, rgba(129, 0, 0, 0.5) 0%,rgba(22, 29, 227, 0.5) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg, rgba(129, 0, 0, 1) 0%,rgba(22, 29, 227, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg, rgba(129, 0, 0, 1) 0%,rgba(22, 29, 227, 1) 100%); /* IE10+ */
	background: linear-gradient(45deg, rgba(129, 0, 0, 1) 0%,rgba(22, 29, 227, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.pd-btn {
	background-color:#0A76EF;
	font-family:louR;
	font-size:16px;
	letter-spacing:1px;
	padding:1em 2em;
	border:none;
	color:#FFFFFF;
}

.pd-inpt {
/*	box-shadow:
	0 2.8px 2.2px rgba(0, 0, 0, 0.034),
	0 6.7px 5.3px rgba(0, 0, 0, 0.048),
	0 12.5px 10px rgba(0, 0, 0, 0.06),
	0 10px 17.9px rgba(0, 0, 0, 0.072),
	0 20px 10px rgba(0, 0, 0, 0.086),
	0 10px 10px rgba(0, 0, 0, 0.10);*/
	box-shadow: 0 6px 8px -8px #888;
	padding:1.5em;
}

.cl-inpt-msg {
	height:220px;
	font-size:16px;
	margin-bottom:1em;
}

/* NAV */
	#pd-nav {
		transition: top 0.3s;
		z-index:1;
		background-color:#FFFFFF;
		box-shadow: 0 6px 8px -8px #888;
		height:80px;
	}

	#pd-nav .pd-clmn {
		float:left;
		width:50%;
		padding:0.5em 1em;
	}

	#pd-nav .cl-nav {
		position:absolute;
		right:0;
		top:12px;
	}

	#pd-nav .cl-nav li {
		display:inline-block;
	    font-family:louR;
	    font-size:16px;
	    letter-spacing:1px;
	    padding-right:3em;
	    text-transform:uppercase;
	    cursor:pointer;
	}

	#divindx #pd-nav {
		position: fixed;
		top:-80px;
		width: 100%;
		display: block;
		transition: top 0.3s;
		z-index:1;
		background-color:#FFFFFF;
		box-shadow: 0 6px 8px -8px #888;
	}

	#divindx #pd-hnav {
		color:#FFFFFF;
		z-index:1;
	}

	#divindx #pd-hnav ul li {
		display:inline-block;
	    font-family:louR;
	    font-size:18px;
	    letter-spacing:1px;
	    padding-right:3em;
	    text-transform:uppercase;
	    cursor:pointer;
	}

	#divindx #pd-hnav .cl-pd-nav .cl-nav-li {
		display:none;
	}

	#divindx #pd-mnav {
		display:none;
	}

/* FOOTER */
	#pd-ft {
		letter-spacing:1px;
		margin-top:4em;
	}

	#pd-ft > .w3-row .cl-ft-cntnt {
		display:block;
		margin:auto;
		padding:4em 0em;
	}

	#pd-ft .w3-row:nth-child(1)	 {
		background-color:rgb(10, 118, 239, 25%);
		color:#1D65CE;
		padding-bottom:4em;
	}

	#pd-ft .w3-row:nth-child(2) {
		background-color:#1D65CE;
		color:#FFFFFF;
		padding:1em 0em;
		font-size:16px;
	}

	#pd-ft > .w3-row .pd-clmn {
		float:left;
	}

	#pd-ft > .w3-row .pd-clmn:nth-child(1) {
		width:40%;
	}

	#pd-ft > .w3-row .pd-clmn:nth-child(1) p,
	#pd-ft > .w3-row .pd-clmn:nth-child(1) span {
		font-family:louB;
		font-size:14px;
		margin-top:-0.6em;
	}

	#pd-ft > .w3-row .pd-clmn:nth-child(2) {
		width:60%;
		/*padding:0em 4em;*/
	}

	#pd-ft > .w3-row:nth-child(1) h3 {
		line-height:30px;
	}

	#pd-ft > .w3-row:nth-child(1) h3:nth-child(1) {
		font-family:ColR;
		font-size:100px;
		margin-top:0.4em;
	}

	#pd-ft > .w3-row:nth-child(1) h3:nth-child(2) {
		font-family:CardR;
		font-size:46px; 
	}

	#pd-ft > .w3-row .pd-clmn p {
		font-family:latoL;
		font-size:14px;
		line-height:16px
		letter-spacing:-1px;
	}

	#pd-ft > .w3-row .pd-clmn h2 {
		padding:0;
		margin-bottom:-0.6em;
	}

	#pd-ft > .w3-row .pd-clmn .pd-clmn {
		float:left;
		width:32%;
		padding-left:4.4em;
	}

	#pd-ft > .w3-row .pd-clmn:nth-child(1) img {
		margin-right:1em;
		margin-bottom:1em;
	}

	#pd-ft .pd-clmn:nth-child(2) ul {
		display:inline;
		height:200px;
	}

	#pd-ft .pd-clmn:nth-child(2) img {
		/*border:1px solid black;*/
		/*width:20px;*/
	}

	#pd-ft .pd-clmn:nth-child(2) span {
		font-size:12px;
		letter-spacing:-0px;
		font-family:latoL;
		/*border:1px solid black;*/
		position:relative;
		top:-8px;
	}

	#pd-ft .pd-clmn:nth-child(2) ul li {
		list-style:none;
		font-size:16px;
		letter-spacing:-0px;
		padding:0em 0em 1em 0em;
		font-family:louR;
		cursor:pointer;
		transition-duration:0.5s;
	}

	#pd-ft .pd-clmn:nth-child(2) ul li:hover {
		font-weight:bold;
		letter-spacing:0.4px;
	}

@media only screen and (min-width: 1367px) {
	.pd-mn .pd-bod-cntnt #pd-body {
		display:block;
		margin:auto;
		width:1400px;
	}

	.pd-mn #pd-ft > .w3-row .cl-ft-cntnt {
		width:1400px;
	}

	#divindx #pd-hnav {
		position:absolute;
		top:40px;
		right:260px;
	}

	#divindx #pd-body .pd-bod-cntnt {
		width:100%;
	}

	#divindx #pd-body .pd-bod-cntnt > .w3-row:nth-child(1),
	#divindx #pd-body .pd-bod-cntnt > .w3-row:nth-child(2),
	#divindx #pd-body .pd-bod-cntnt > .w3-row:nth-child(3),
	#divindx #pd-body .pd-bod-cntnt > .w3-row:nth-child(4) {
		width:1400px;
		display:block;
		margin:auto;
	}

	#divindx #pd-body .pd-row-1 {
		height:1007px;
		overflow:hidden;
	}

	#divindx .pd-row-1 > .w3-row {
		position: absolute;
		top: 50%;
		left: 30%;
		transform: translate(-50%,-50%);
	}

	#divindx .pd-bod-cntnt > .w3-row:nth-child(1) .column .w3-row:nth-child(1) {
		height:200px;
	}

	#divindx .pd-bod-cntnt > .w3-row:nth-child(1) .column .w3-row:nth-child(2) {
		height:200px;
	}
}

@media only screen and (min-width: 1200px) and (max-width:1366px) {
	.pd-mn .pd-bod-cntnt #pd-body {
		display:block;
		margin:auto;
	}

	.pd-mn #pd-ft > .w3-row .cl-ft-cntnt {
		/*width:1400px;*/
		width:1100px;
	}

	#divindx #pd-hnav {
		position:absolute;
		top:40px;
		right:60px;
	}

	#divindx #pd-body .pd-bod-cntnt {
		width:100%;
	}
	
	#divindx #pd-body .pd-bod-cntnt > .w3-row:nth-child(1),
	#divindx #pd-body .pd-bod-cntnt > .w3-row:nth-child(2),
	#divindx #pd-body .pd-bod-cntnt > .w3-row:nth-child(3),
	#divindx #pd-body .pd-bod-cntnt > .w3-row:nth-child(4) {
		width:1150px;
		display:block;
		margin:auto;
	}

	#divindx #pd-body .pd-row-1 {
		width:100%;
		height:920px;
		overflow:hidden;
	}

	#divindx .pd-row-1 > .w3-row {
		position: absolute;
		top: 50%;
		left: 40%;
		transform: translate(-50%,-50%);
	}

	#divindx .pd-bod-cntnt > .w3-row:nth-child(1) .column .w3-row:nth-child(1) {
		height:160px;
	}

	#divindx .pd-bod-cntnt > .w3-row:nth-child(1) .column .w3-row:nth-child(2) {
		height:200px;
	}
}

@media only screen and (min-width:992px) and (max-width:1200px) {
	.pd-mn .pd-bod-cntnt #pd-body {
		display:block;
		margin:auto;
	}

	.pd-mn #pd-ft > .w3-row .cl-ft-cntnt {
		/*width:1400px;*/
		width:960px;
	}

	#divindx #pd-hnav {
		position:absolute;
		top:40px;
		right:60px;
	}

	#divindx #pd-body .pd-bod-cntnt {
		width:100%;
	}
	
	#divindx #pd-body .pd-bod-cntnt > .w3-row:nth-child(1),
	#divindx #pd-body .pd-bod-cntnt > .w3-row:nth-child(2),
	#divindx #pd-body .pd-bod-cntnt > .w3-row:nth-child(3),
	#divindx #pd-body .pd-bod-cntnt > .w3-row:nth-child(4) {
		width:1000px;
		display:block;
		margin:auto;
	}

	#divindx #pd-body .pd-row-1 {
		width:100%;
		height:920px;
		overflow:hidden;
	}

	#divindx .pd-row-1 > .w3-row {
		position: absolute;
		top: 50%;
		left: 40%;
		transform: translate(-50%,-50%);
	}

	#divindx .pd-bod-cntnt > .w3-row:nth-child(1) .column .w3-row:nth-child(1) {
		height:160px;
	}

	#divindx .pd-bod-cntnt > .w3-row:nth-child(1) .column .w3-row:nth-child(2) {
		height:200px;
	}
}

#divindx .pd-body {
	width:100%;
}

#divindx .pd-bod-cntnt h3 {
	font-family:CardB;
	font-size:42px;
	color:#707070;
}

#divindx .pd-bod-cntnt .cl-lbl {
	font-size:18px;
	letter-spacing:0.5px;
}

#divindx .pd-row-1 > .w3-row h3 {
	line-height:75px;
}

#divindx .pd-row-1 > .w3-row h3:nth-child(1) {
	font-family:ColR;
	font-size:222px;
	color:#FFFFFF;
}

#divindx .pd-row-1 > .w3-row h3:nth-child(2) {
	font-family:CardR;
	font-size:100px; 
	color:#FFFFFF;
}

#divindx .pd-row-1 > .w3-row p {
	font-family:louR;
	font-size:32px;
	color:#FFFFFF;
	line-height:10px;
}

#divindx .cl-icosoc {
	margin-top:2em;
}

#divindx .pd-row-1 .cl-icosoc img {
	margin-right:1.5em;
}

#divindx .pd-row-1 .pd-btn {
	width:260px;
	border-radius:40px;
	margin-top:0.5em;
}

#divindx .pd-bod-cntnt .w3-row {
	width:100%;
}

#divindx .pd-bod-cntnt > .w3-row h3 {
	margin-top:1em;
}

#divindx .pd-bod-cntnt > .w3-row .cl-lbl {
	font-size:24px;
	line-height:28px;
	margin-top:-0.2em;
	color:#707070;
}

#divindx .pd-bod-cntnt > .w3-row:nth-child(1) .cl-lbl-1 {
	font-family:CardB;
	font-size:20px;
	color:#707070;
	margin-bottom:-0.2em;
}

#divindx .pd-bod-cntnt > .w3-row:nth-child(1) .cl-lbl-2 {
	font-size:16px;
	letter-spacing:0.5px;
	line-height:18px;
}

#divindx .pd-bod-cntnt > .w3-row:nth-child(1) .column {
	float:left;
	width:33.3%;
}

#divindx .pd-bod-cntnt > .w3-row:nth-child(1) .column .w3-row:nth-child(1) img {
	height:100%;
}

#divindx .pd-bod-cntnt > .w3-row:nth-child(2) {
	height:300px;
	padding:3em 12em;
	background: -moz-linear-gradient(45deg, rgba(136, 0, 14, 1) 20%,rgba(10, 118, 239, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(22, 29, 227, 1)), color-stop(100%,rgba(129, 0, 0, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg, rgba(136, 0, 14, 1) 20%,rgba(10, 118, 239, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg, rgba(136, 0, 14, 1) 20%,rgba(10, 118, 239, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg, rgba(136, 0, 14, 1) 20%,rgba(10, 118, 239, 1) 100%); /* IE10+ */
	background: linear-gradient(45deg, rgba(136, 0, 14, 1) 20%,rgba(10, 118, 239, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

#divindx .pd-bod-cntnt > .w3-row:nth-child(2) p {
	font-family:CardB;
	font-size:30px;
	letter-spacing:2px;
	color:#FFFFFF;
}

#divindx .pd-bod-cntnt > .w3-row:nth-child(3) .column {
	float:left;
	width:25%;
}

#divindx .pd-bod-cntnt > .w3-row:nth-child(3) .column .w3-row:nth-child(1) {
	height:150px;
}

#divindx .pd-bod-cntnt > .w3-row:nth-child(3) .column .w3-row:nth-child(1) img {
	height:100%;
}

#divindx .pd-bod-cntnt > .w3-row:nth-child(3) .column .w3-row:nth-child(2) {
	height:60px;
}

#divindx .pd-bod-cntnt > .w3-row:nth-child(3) label {
	font-size:20px;
	letter-spacing:0.5px;
	color:#707070;
}

#divindx .pd-bod-cntnt > .w3-row:nth-child(4) .column {
	float:left;
	width:50%;
	font-size:20px;
	padding-top:1em;
	color:#707070;
}

#divindx .pd-bod-cntnt > .w3-row:nth-child(4) .right input {
	margin-bottom:1em;
	font-size:16px;
}

#divindx .pd-bod-cntnt > .w3-row:nth-child(4) .cl-icosoc img {
	margin-right:1em;
}